body {
  background: #191919;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 3.4rem;
}

h2 {
  color: #fff;
  font-weight: 700;
}

p {
  color: #fff;
}

hr {
  border-top: 1px solid rgba(255,255,255,.1);
}

.form-group input {
  border-radius: 3px;
  border: 1px solid #fff;
  height: 60px;
  padding: 20px 22px;
}

.form-group input:focus {
  border: 1px solid #07c1f2;
  box-shadow: 0 2px 9px -2px rgba(52,196,248,.27);
}

.btn-primary {
  background: #e93f3b;
  border-color: #e93f3b;
  transition: 1s all;
}

.btn-primary:active,
.btn-primary:focus {
  background: #9f1319;
  border-color: #9f1319;
}

.btn-primary:hover {
  background: #9f1319;
  border-color: #9f1319;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background: #9f1319;
  border-color: #9f1319;
}

.text-danger {
  color: #e93f3b !important;
}

.modal-body > p {
  color: #000;
  font-size: .8rem;
}

.discount {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  color: #fff;
  display: block;
}

.discount-small {
  display: block;
  color: rgba(255,255,255,.5);
  font-size: .8rem;
}

.code {
  color: #fff;
  border: 1px dashed #fff;
  padding: 10px 20px;
  display: block;
  width: 200px;
  border-radius: 5px;
}

.code > a {
  color: #fff;
  transition: all 1s;
}

.code > a:hover {
  color: #e93f3b;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 3rem;
  }
}